@using Microsoft.Extensions.Configuration
@using Squaddle.Shared.Models;
@inject IConfiguration Configuration
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject NavigationManager NavigationManager

<BSCard Color="Color.Light">
    <BSCard CardType="CardType.Header">Estimation</BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">Start estimating</BSCard>
        <BSCard CardType="CardType.Text">
            Planning poker is a way for agile teams to guide sprint planning and build accurate consensus estimates.
            <p>&nbsp;</p>
            <BSButton Color="Color.Primary" IsBlock="true" @onclick="ToggleNewEstimationSessionModal">Go</BSButton>
        </BSCard>
    </BSCard>
</BSCard>

<BSModal @ref="newEstimationSession" IsCentered="true">
    <BSForm Model="@estimationSessionUser" OnValidSubmit="@CreateNewEstimationSession" @ref="newEstimationSessionForm">
        <BSModalHeader OnClick="@ToggleNewEstimationSessionModal">Start a new estimation session</BSModalHeader>
        <BSModalBody>
            
            <DataAnnotationsValidator />
            <ValidationSummary />

            <BSFormGroup>
                <BSLabel For="estimationUserName">Name</BSLabel>
                <BSInput Id="estimationUserName" InputType="InputType.Text" PlaceHolder="Your name" @bind-Value="estimationSessionUser.Name" ValidateOnChange="true" />
            </BSFormGroup>

        </BSModalBody>
        <BSModalFooter>
            <BSButton Color="Color.Secondary" @onclick="@ToggleNewEstimationSessionModal">Close</BSButton>
            <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Start</BSButton>
        </BSModalFooter>
    </BSForm>
</BSModal>

<BSModal @ref="newEstimationSessionSuccess" IsCentered="true">   
        <BSModalHeader OnClick="@ToggleNewEstimationSessionSuccessModal">Session Created</BSModalHeader>
        <BSModalBody>
            <p>Share the below link to invite your team</p>
            <p>@roomJoinUrl</p>
        </BSModalBody>
        <BSModalFooter>
            <BSButton Color="Color.Secondary" @onclick="@ToggleNewEstimationSessionSuccessModal">Close</BSButton>
            <BSButton Color="Color.Primary" @onclick="@JoinSession">Continue</BSButton>
        </BSModalFooter>    
</BSModal>

@code {
    private readonly HttpClient _httpClient = new HttpClient();
    private EstimationRoomUser estimationSessionUser = new EstimationRoomUser();
    private string roomJoinUrl = string.Empty;

    BSModal newEstimationSession;
    BSModal newEstimationSessionSuccess;
    BSForm newEstimationSessionForm;

    protected override void OnInitialized()
    {
        estimationSessionUser.IsRoomOwner = true;
        estimationSessionUser.RoomCode = "ROOMCODE";
    }

    void ToggleNewEstimationSessionModal(MouseEventArgs e)
    {
        newEstimationSession.Toggle();
    }

    void ToggleNewEstimationSessionSuccessModal(MouseEventArgs e)
    {
        newEstimationSessionSuccess.Toggle();
    }

    async Task CreateNewEstimationSession()
    {
        string apiUrl = Configuration["apiBaseUrl"];
        string newRoomCode = await _httpClient.GetStringAsync($"{apiUrl}create-room");

        estimationSessionUser.RoomCode = newRoomCode;
        estimationSessionUser.IsRoomOwner = true;

        sessionStorage.SetItem("Name", estimationSessionUser.Name);
        sessionStorage.SetItem("RoomCode", estimationSessionUser.RoomCode);
        sessionStorage.SetItem("IsRoomOwner", estimationSessionUser.IsRoomOwner);
        sessionStorage.SetItem("EstimationStyleType", estimationSessionUser.EstimationStyleType);

        roomJoinUrl = $"{NavigationManager.BaseUri}join/{estimationSessionUser.RoomCode}";

        StateHasChanged();

        newEstimationSession.Toggle();
        newEstimationSessionSuccess.Toggle();
    }

    void JoinSession(MouseEventArgs e)
    {
        NavigationManager.NavigateTo(roomJoinUrl);
    }
}